button{
				text-transform: uppercase;
}
.money::before{
    content: '$';
}
.money.sign::before{
    content: '- $';
}
.money.sign{
    color: red;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid black;
}
.row small{
				display: block;
				width: 100%;
}
p input:not([type="checkbox"]), p select{
				display: block;
				width: 100%;
}
.state{
    color: red;
}
.state.closed{
    color: green;
}