<div>
	<div class="header">
		<h1>Personas</h1>
	</div>
	<div class="container">
		<ng-scrollbar>
			<mat-accordion>
				<mat-expansion-panel hideToggle *ngFor="let person of persons">
					<mat-expansion-panel-header>
						<div class="row">
							<span class="name">{{person.name}}</span>
							<span class="money" [class.sign]="person.money > 0">{{person.money | currency}}</span>
						</div>
					</mat-expansion-panel-header>
					<div class="data">
						<div class="column">
							<p><span>Fondos: </span><span>{{person.direct | currency}}</span></p>
							<p><span># prestamos: </span><span>{{person.loans}}</span></p>
						</div>
						<div class="column">
							<p><span>Intereses: </span><span>{{person.interests | currency}}</span></p>
							<p><span>Abonos: </span><span>{{person.capital | currency}}</span></p>
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</ng-scrollbar>
	</div>
</div>
