<div>
	<h1>Caja</h1>
	<p>Total: <strong><span class="sign money">1.000.000</span></strong></p>
	<button routerLink="/transaction">movimiento</button>
	<div class="row">
		<span class="name">Jimmy Acero</span>
		<span class="money"> 1.000.000</span>
		<small>23-oct-2020</small>
	</div>
	<div class="row">
		<span class="name">Jimmy Acero</span>
		<span class="money sign"> 1.000.000</span>
		<small>23-oct-2020</small>
	</div>
	<div class="row">
		<span class="name">Jimmy Acero</span>
		<span class="money"> 1.000.000</span>
		<small>23-oct-2020</small>
	</div>
</div>
