/* You can add global styles to this file, and also import other style files */
button{
	text-transform: uppercase;
	width: 300px;
}

.money {
	&.sign {
		color: red;
		&::before {
			content: '-';
		}
	}
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	// padding: 5px;
	// border-bottom: 1px solid black;
	small{
		display: block;
		width: 100%;
	}
	.state{
		color: red;
		&.closed {
			color: green;
		}
	}
}

.data {
	display: flex;
	flex-direction: row;
	.column {
		width: 50%;
		padding: 5px;
		p {
			margin-bottom: 3px;
		}
		.type {
			font-size: 1.2em;
		}
	}
}

p .mat-form-field{
	width: 100%;
}

.container {
	height: 350px;
	overflow: hidden;
}

.header {
	padding: 5px;
	border-bottom: 1px solid #333;
	h1 {
		text-align: center;
	}
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
