/* You can add global styles to this file, and also import other style files */
button{
	text-transform: uppercase;
}

.money {
	&::before {
		content: '$';
	}
	&.sign {
		color: red;
		&::before {
			content: '- $';
		}
	}
}

.row{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5px;
	border-bottom: 1px solid black;
	small{
		display: block;
		width: 100%;
	}
	.state{
		color: red;
		&.closed {
			color: green;
		}
	}
}

p input:not([type="checkbox"]), p select{
	display: block;
	width: 100%;
}
