<div>
	<div class="header">
		<h1>Prestamos</h1>
		<p>En prestamo: <strong><span class="money" [class.sign]="loansTotal > 0">{{loansTotal | currency}}</span></strong></p>
	</div>
	<div class="container">
		<ng-scrollbar>
			<mat-accordion>
				<mat-expansion-panel hideToggle *ngFor="let loan of loans">
					<mat-expansion-panel-header>
						<div class="row">
							<span class="number">#{{loan.id.padStart(3, '0')}}</span>
							<span class="name">{{loan.name}}</span>
							<span class="money">{{loan.value | currency}}</span>
							<span class="state" [class.closed]="loan.closed">{{loan.closed?'✓':'×'}}</span>
						</div>
					</mat-expansion-panel-header>
					<div class="data">
						<div class="column">
							<p><strong>Interés</strong></p>
							<p><span>Mensual: </span><span>{{loan.monthlyInterest | currency}}</span></p>
							<p><span>Total: </span><span>{{loan.interests | currency}}</span></p>
						</div>
						<div class="column">
							<p><span>Capital: </span><span>{{loan.capital | currency}}</span></p>
							<p><span>Desde: </span><span>{{loan.init}}</span></p>
							<p><span>Hasta: </span><span>{{loan.final}}</span></p>
						</div>
					</div>
				</mat-expansion-panel>
			</mat-accordion>
		</ng-scrollbar>
	</div>
</div>
