<div>
	<h1>Prestamos</h1>
	<mat-accordion>
		<mat-expansion-panel hideToggle>
			<mat-expansion-panel-header>
				<div class="row">
					<span class="number">#001</span>
					<span class="name">Jimmy Acero</span>
					<span class="money"> 1.000.000</span>
					<span class="state">×</span>
				</div>
			</mat-expansion-panel-header>
			<p>Hola</p>
		</mat-expansion-panel>
		<mat-expansion-panel hideToggle>
			<mat-expansion-panel-header>
				<div class="row">
					<span class="number">#002</span>
					<span class="name">Jimmy Acero</span>
					<span class="money"> 1.000.000</span>
					<span class="state closed">✓</span>
				</div>
			</mat-expansion-panel-header>
			<p>Hola</p>
		</mat-expansion-panel>
		<mat-expansion-panel hideToggle>
			<mat-expansion-panel-header>
				<div class="row">
					<span class="number">#003</span>
					<span class="name">Jimmy Acero</span>
					<span class="money"> 1.000.000</span>
					<span class="state closed">✓</span>
				</div>
			</mat-expansion-panel-header>
			<p>Hola</p>
		</mat-expansion-panel>
	</mat-accordion>
</div>
